<app-add-transaction (notify)="getAllTransactions()"></app-add-transaction>

<div id="statement-printable">
    <h1>Transactions</h1>
    <button class="hide" (click)="printPage()">Imprimer</button><br>
    <br>

<!--    <app-balance></app-balance>-->

    @if (transactions.length > 0) {
        <table>
            <caption>Historique des dépots/retraits</caption>
                <tr>
                    <th scope="col">DATE</th>
                    <th scope="col">DÉPOT</th>
                    <th scope="col">RETRAIT</th>
                    <th scope="col">BALANCE</th>
                </tr>

                @for (transaction of transactions; track transaction.id) {
                    <tr>
                        <th scope="row">{{transaction.date | date:'dd/MM/yyyy'}}</th>
                        <td>{{transaction.depositAmount | hideZero| number:'1.2-2'}}</td>
                        <td>{{transaction.withdrawAmount | hideZero| number:'1.2-2'}}</td>
                        <td>{{transaction.balance | number:'1.2-2'}}</td>
                    </tr>
                }
        </table>
    } @else {
        <div>Vous n'avez pas d'operation bancaire à votre actif</div>
    }
</div>