/* You can add global styles to this file, and also import other style files */
@media print {

  body * {
    visibility: hidden;
  }

  #statement-printable,
  #statement-printable * {
    visibility: visible;
  }

  #statement-printable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}